<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My Report</title>
  </head>

  <body>

    <article id="teste">
        <section >
            <div class="heading-header">
                <h3 style="float: left;"> Sistema de Gerenciamento de Faturas
                    <br>
                    Relatório SGO</h2>
                    <img style=" width:20%; float: right;" src="{{assets_dir}}/uea_logo.png" alt="" />
    
                <strong class="emission">Data de Emissão1: 19/12/2020</strong>
            </div>
            
        </section>
    </article>

    <article>
        <section id="note-info">
            <div class="header-info">
                <div class="identification">
                    <div class="components">
                        <strong>Credor:</strong>
                        <span class="text-style">AMAZONAS DISTRIBUIDORA DE ENERGIA</span>
                    </div>
                    <div class="components">
                        <strong>Numero do Processo:</strong>
                        <span class="text-style">122335588/2020</span>
                    </div>
                    <div class="components">
                        <strong>Tensão:</strong> 
                        <span class="text-style">Alta</span>
                    </div>
                    <div class="components">
                        <strong>Periodo:</strong>
                        <span class="text-style">09/2020</span>
                    </div>
                    <div class="components">
                        <strong>Total de Contestos:</strong>
                        <span class="text-style">12</span>
                    </div>
                    <div class="components">
                        <strong>Contrato de Demanda atual:</strong>
                        <span class="text-style">123123 kWh</span>
                    </div>
                    <div class="components">
                        <strong>Contrato de Demanda sugerido:</strong>
                        <span class="text-style">123123 kWh</span>
                    </div>
                </div>
                <img style=" width:20%; float: right;" src="{{assets_dir}}/qr-code.jpeg" alt="" />
            </div>
        </section>
    </article>

    <article>
        <section id="general">
            <div style="height: 100px">
                <h3 style="background-color: #1b7275; padding-left: 18px; color:#ffffff; margin-bottom: 1.5rem;">Dados Gerais</h3>
                <div style="margin-left: 24px;">
                    <div class="shadow">
                        <div class="general-data">
                            <span class="general-span">Interrupções de fornecimento de eneriga</span>
                            <br>
                            
                            <span class="general-span" style="font-size: 30px; color:#6DB297; line-height: 40px;">05</span>
                        </div>
                    </div>
                    <div class="shadow">
                        <div class="general-data">
                            <span class="general-span">Alterações de tensão e corrente</span>
                            <br>
                            
                            <span class="general-span" style="font-size: 35px; color:#6DB297; line-height: 66px;" >10</span>
                        </div>
                    </div>
                    <div class="shadow">
                        <div class="general-data">
                            <span class="general-span">Ultrapassagem de Demanda</span>
                            <br>
                            
                            <span class="general-span" style="font-size: 35px; color:#6DB297;line-height: 66px;">10</span>
                        </div>
                    </div>
                    <div class="shadow">
                        <div class="general-data">
                            <span class="general-span">Ultrapassagem de fator de potência</span>
                            <br>
                            
                            <span class="general-span" style="font-size: 35px; color:#6DB297;line-height: 66px;">10</span>
                        </div>
                    </div>
                    <div class="shadow">
                        <div class="general-data">
                            <span class="general-span">Consumo Acumulado</span>
                            <br>
                            
                            <span class="general-span" style="font-size: 35px; color:#6DB297;line-height: 70px;">10</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
    </article>

    <article>
        <section id="demand">
          <div class="column">
            <img style=" width:107%;margin-left: -6%;" src="{{assets_dir}}/demandas_registradas.png" alt="" />
          </div>
            <h3>Demandas e Ultrapassagens</h3>
            <table>
                <thead style="background-color: #34857D;">
                    <th >Data</th> 
                    <th >DMR</th>
                    <th >Demanda Registrada (kW)</th>
                    <th >Ultrapassagem (kW)</th>
                    <th> Período</th>
                </thead>
                <tbody style="background-color: #E8EDEC;" >
                    <tr style="color:#222b45; font-weight: bold;">
                        <td >29/12/2020</td>
                        <td>279997</td>
                        <td>4500</td>
                        <td>50</td>
                        <td>21:01 às 00:00</td>
                    </tr>
                    <tr style="color:#222b45; font-weight: bold;">
                        <td >29/12/2020</td>
                        <td>279997</td>
                        <td>4500</td>
                        <td>50</td>
                        <td>21:01 às 00:00</td>
                    </tr>
                    <tr style="color:#222b45; font-weight: bold;">
                        <td >29/12/2020</td>
                        <td>279997</td>
                        <td>4500</td>
                        <td>50</td>
                        <td>21:01 às 00:00</td>
                    </tr>
                    <tr style="color:#222b45; font-weight: bold;">
                        <td >29/12/2020</td>
                        <td>279997</td>
                        <td>4500</td>
                        <td>50</td>
                        <td>21:01 às 00:00</td>
                    </tr>
                    <tr style="color:#222b45; font-weight: bold;">
                        <td >29/12/2020</td>
                        <td>279997</td>
                        <td>4500</td>
                        <td>50</td>
                        <td>21:01 às 00:00</td>
                    </tr>
                    <tr style="color:#222b45; font-weight: bold;">
                        <td >29/12/2020</td>
                        <td>279997</td>
                        <td>4500</td>
                        <td>50</td>
                        <td>21:01 às 00:00</td>
                    </tr>
                    <tr style="color:#222b45; font-weight: bold;">
                        <td >29/12/2020</td>
                        <td>279997</td>
                        <td>4500</td>
                        <td>50</td>
                        <td>21:01 às 00:00</td>
                    </tr>
                    
                </tbody>
            </table>
    
        </section>
    </article>

    <article>
        <section id="excedent-demand">
            <div class="column">
                <img style=" width:110%;margin-left: -6%;" src="{{assets_dir}}/energia_reativa.png" alt="" />
            </div>
            <h3>Demanda Registrada</h3>
            <table>
                <thead style="background-color: #34857D;">
                    <th >Data</th> 
                    <th >DMR</th>
                    <th >Demanda Registrada (kW)</th>
                    <th> Duração </th>
                </thead>
                <tbody style="background-color: #E8EDEC;" >
                    <tr style="color:#222b45; font-weight: bold;">
                        <td >29/12/2020</td>
                        <td>279997</td>
                        <td>4500</td>
                        <td>21:01 às 00:00</td>
                    </tr>
                    <tr style="color:#222b45; font-weight: bold;">
                        <td >29/12/2020</td>
                        <td>279997</td>
                        <td>4500</td>
                        <td>21:01 às 00:00</td>
                    </tr>
                    <tr style="color:#222b45; font-weight: bold;">
                        <td >29/12/2020</td>
                        <td>279997</td>
                        <td>4500</td>
                        <td>21:01 às 00:00</td>
                    </tr>
                    <tr style="color:#222b45; font-weight: bold;">
                        <td >29/12/2020</td>
                        <td>279997</td>
                        <td>4500</td>
                        <td>21:01 às 00:00</td>
                    </tr>
                    
                </tbody>
            </table>

        </section>
    </article>

    <article>
        <section>
            <h3>Alterações de Tensão e Corrente</h3>
            <table style= "width: 100%;">
                <thead style="background-color: #34857D;">
                    <th >Data</th> 
                    <th >Tipo</th>
                    <th >Alterção</th>
                    
                    <th >DMC</th>
                    <th >Medição</th>
                    <th >Fase</th>
    
                </thead>
                <tbody style="background-color: #E8EDEC;" >
                    <tr style="color:#222b45; font-weight: bold;">
                        <td >29/12/2020</td>
                        <td>1231231</td>
                        <td>Atrasada</td>
                        <td>Paga</td>
                        <td>22:09H</td>
                        <td>EST</td>
                    </tr>
                    <tr style="color:#222b45; font-weight: bold;">
                        <td>29/12/2020</td>
                        <td>1231231</td>
                        <td>Atrasada</td>
                        <td>Paga</td>
                        <td>22:09H</td>
                        <td>EST</td>
                    </tr>
                    <tr style="color:#222b45; font-weight: bold;">
                        <td>29/12/2020</td>
                        <td>1231231</td>
                        <td>Atrasada</td>
                        <td>Paga</td>
                        <td>22:09H</td>
                        <td>EST</td>
                    </tr>
                   
                </tbody>
            </table>
        </section>
        
    </article>

    <article id="energy">
        <section>
            <h3>Interrupções de fornecimento de energia</h3>
            <table style="background-color: #E8EDEC; width: 40%;"> 
                <thead style="background-color: #34857D;">
                    <th >Data</th> 
                    <th >Duração</th>
                    
                </thead>
                <tbody>
                    <tr  style="color:#222b45; font-weight: bold;">
                        <td>29/12/2020</td>
                        <td>00:23:55</td>
                    </tr>
                    <tr  style="color:#222b45; font-weight: bold;">
                        <td>29/12/2020</td>
                        <td>00:23:55</td>
                    </tr>
                    <tr  style="color:#222b45; font-weight: bold;">
                        <td>29/12/2020</td>
                        <td>00:23:55</td>
                    </tr>
                </tbody>
            </table>
        </section>        
    </article>

    <article>
        <section id="table-maintenance">
            <h3 style="color: #ffffff; background-color:#1b7275; line-height: 40px; width: 130%; margin-left: -12%; padding-left: 18px;">Manutenções</h3>
                
                <table id="maintenance" style="background-color: #E8EDEC; width: 50%; margin-top: 18px;"> 
                <thead style="background-color: #34857D;">
                    <th >Data</th> 
                    <th >Operador</th>
                    <th>Localização</th>
                    <th>Descrição</th>
                    
                </thead>
                <tbody>

                    <tr  style="margin-bottom: 18px;color:#222b45; font-weight: bold; background-color: #ffffff; border-radius: 0px;">
                    
                        <td  style="margin-bottom: 18px;">
                            <div class="card-label card-row group-row">
                                <strong >Localização:</strong>
                                <span>Manaus-Am</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Operador:</strong>
                                <span>Maicon</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Localização:</strong>
                                <span>DMC 89665</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Detalhamento:</strong>
                                <span>Troca de parafusos cabeça sextavada Beltools para telha 5mm 16x110 enferrujados. </span>
                            </div>
                        </td>                  
                        
                    </tr>

                    <tr  style="color:#222b45; font-weight: bold; background-color: #ffffff ;">
                    
                        <td>
                            <div class="card-label card-row group-row">
                                <strong >Localização</strong>
                                <span>Manaus-Am</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Operador</strong>
                                <span>Maicon</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Localização</strong>
                                <span>DMC 89665</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Detalhamento</strong>
                                <span>Troca de parafusos cabeça sextavada Beltools para telha 5mm 16x110 enferrujados. </span>
                            </div>
                        </td>                  
                        
                    </tr>

                    <tr  style="color:#222b45; font-weight: bold; background-color: #ffffff ;">
                    
                        <td>
                            <div class="card-label card-row group-row">
                                <strong >Localização:</strong>
                                <span>Manaus-Am</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Operador:</strong>
                                <span>Maicon</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Localização:</strong>
                                <span>DMC 89665</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Detalhamento:</strong>
                                <span>Troca de parafusos cabeça sextavada Beltools para telha 5mm 16x110 enferrujados. </span>
                            </div>
                        </td>                  
                        
                    </tr>

                    <tr  style="color:#222b45; font-weight: bold; background-color: #ffffff ;">
                    
                        <td >
                            <div class="card-label card-row group-row">
                                <strong >Localização</strong>
                                <span>Manaus-Am</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Operador</strong>
                                <span>Maicon</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Localização</strong>
                                <span>DMC 89665</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Detalhamento</strong>
                                <span>Troca de parafusos cabeça sextavada Beltools para telha 5mm 16x110 enferrujados. </span>
                            </div>
                        </td>                  
                        
                    </tr>

                    <tr  style="color:#222b45; font-weight: bold; background-color: #ffffff ;">
                    
                        <td >
                            <div class="card-label card-row group-row">
                                <strong >Localização</strong>
                                <span>Manaus-Am</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Operador</strong>
                                <span>Vitor</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Localização</strong>
                                <span>DMC 89665</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Detalhamento</strong>
                                <span>Troca de parafusos cabeça sextavada Beltools para telha 5mm 16x110 enferrujados. </span>
                            </div>
                        </td>                  
                        
                    </tr>

                    <tr  style="color:#222b45; font-weight: bold; background-color: #ffffff ;">
                    
                        <td >
                            <div class="card-label card-row group-row">
                                <strong >Localização</strong>
                                <span>Manaus-Am</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Operador</strong>
                                <span>Maicon</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Localização</strong>
                                <span>DMC 89665</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Detalhamento</strong>
                                <span>Troca de parafusos cabeça sextavada Beltools para telha 5mm 16x110 enferrujados. </span>
                            </div>
                        </td>                  
                        
                    </tr>


                    <tr  style="color:#222b45; font-weight: bold; background-color: #ffffff ;">
                    
                        <td >
                            <div class="card-label card-row group-row">
                                <strong >Localização</strong>
                                <span>Manaus-Am</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Operador</strong>
                                <span>Maicon</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Localização</strong>
                                <span>DMC 89665</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Detalhamento</strong>
                                <span>Troca de parafusos cabeça sextavada Beltools para telha 5mm 16x110 enferrujados. </span>
                            </div>
                        </td>                  
                        
                    </tr>


                    <tr  style="color:#222b45; font-weight: bold; background-color: #ffffff ;">
                    
                        <td>
                            <div class="card-label card-row group-row">
                                <strong >Localização</strong>
                                <span>Manaus-Am</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Operador</strong>
                                <span>Maicon</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Localização</strong>
                                <span>DMC 89665</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Detalhamento</strong>
                                <span>Troca de parafusos cabeça sextavada Beltools para telha 5mm 16x110 enferrujados. </span>
                            </div>
                        </td>                  
                        
                    </tr>

                    <tr  style="color:#222b45; font-weight: bold; background-color: #ffffff ;">
                    
                        <td>
                            <div class="card-label card-row group-row">
                                <strong >Localização</strong>
                                <span>Manaus-Am</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Operador</strong>
                                <span>Rapaz</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Localização</strong>
                                <span>DMC 89665</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Detalhamento</strong>
                                <span>Troca de parafusos cabeça sextavada Beltools para telha 5mm 16x110 enferrujados. </span>
                            </div>
                        </td>                  
                        
                    </tr>

                    <tr  style="color:#222b45; font-weight: bold; background-color: #ffffff ;">
                    
                        <td>
                            <div class="card-label card-row group-row">
                                <strong >Localização</strong>
                                <span>Manaus-Am</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Operador</strong>
                                <span>Rapaz</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Localização</strong>
                                <span>DMC 89665</span>
                            </div>
                            <div class="card-label card-row group-row">
                                <strong >Detalhamento</strong>
                                <span>Troca de parafusos cabeça sextavada Beltools para telha 5mm 16x110 enferrujados. </span>
                            </div>
                        </td>                  
                        
                    </tr>

                    
                </tbody>
            </table>

        </section>
    </article>

    <article>
        <section>
            <h3 style="color: #ffffff; background-color:#1b7275; line-height: 40px; width: 130%; margin-left: -12%; padding-left: 18px;">Comparativo de Consumo</h3>
            <div class="column">
                <img style=" width:113%;margin-left: -6%;" src="{{assets_dir}}/valores_de_consumo.png" alt="" />
            </div>
        </section>
    </article>
   </body>
</html>
